h1{

    color: rgb(253, 253, 253);
    background-color:rgb(163, 159, 159);
}
body{

    background-image: url("https://media1.tenor.com/m/bqORLwABw8oAAAAd/gato-beijando.gif");
    text-align: center;
}
img{
    width: 850px;
}
a{
    text-decoration: none;
}
footer{
    background-color: brown;
}